// 字体
$fontSizeH5: 20px;
$fontSizeH4: 24px;
$fontSizeH3: 28px;
$fontSizeH2: 32px;
$fontSizeH1: 36px;
$fontSizeH0: 48px;

// 图片
$imgSize: 48px;
$imgSizeL: 96px;
$imgSizeLP: 120px;

// margin
$marginS: 8px;
$margin: 16px;
$marginL: 24px;

// height
$heightS: 32px;
$height: 48px;
$heightL: 64px;

// width
$widthS: 80px;
$width: 120px;
$widthL: 160;

// 颜色
$colorWhite: #fff;
// 背景色
$colorBack0: #ECF5FD;
$colorBack1: #FAFBFC;
// 灰色
$colorGray0: #333333;
$colorGray1: #666666;
$colorGray2: #999999;
$colorGray3: #CCCCCC;
$colorGray4: #E5E5E5;
$colorGray5: #F0F0F0;
$colorGray6: #F7F7F7;
$colorLine: #DDDDDD;
// 黑色
$colorBlack0: #333;
$colorBlack1: #333;
$colorBlack2: #333;
// 主色
$colorBlue0: #346FC2;
$colorBlue1: #6190E8;
$colorBlue2: #78A4FA;

// 提示色
$colorInfo: #78A4FA;
$colorPositive: #13CE66;
$colorError: #e45649;
$colorWarning: #FFC82C;